.btn-outline-secondary {
    margin: 20px;
    padding: 1.2em;
    width: 150px;
}
#mainNav nav div .navbar-nav .nav-reg {
    color: #8E9DCC;
}

img::-moz-selection {
    background: transparent;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

#mainNav {
    width: auto;
    height: auto;
    /* background: linear-gradient(to right, transparent -5%, rgb(110, 110, 110), rgb(110, 110, 110), rgb(59, 59, 59) 14%, transparent 65%, rgb(110, 110, 110), rgb(110, 110, 110)); */
    background-color: #293033;
}

#mainNav .navbar-brand {
    color: whitesmoke;
    font-family: 'Work Sans', sans-serif;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #fed136;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: whitesmoke;
    font-family: 'Work Sans', sans-serif;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0, 0, 0, 0.4);
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}

@media (min-width: 992px) {
    #mainNav {
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: #293033;
    }
    #mainNav .navbar-brand {
        font-size: 2em;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
        font-size: 90%;
    }
}
#footer {
    min-height: 2em;
    background-color: transparent;
    color: #000000;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}