#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #fed136;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #333;
    font-family: 'Cinzel', serif;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0, 0, 0, 0.4);
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}

.navbar-log {
    align-items: center;
}

@media (min-width: 992px) {
    #mainNav {
        border: none;
        background-color: white;
    }
    #mainNav .navbar-brand {
        font-size: 2em;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 0.125em 9.5em !important;
        font-size: 25px;
    }
}


/* Home */

.homeb {
    margin: 2em;
    padding: 1em;
}

.headline-1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.hero-content {
    /* background-image: url(/img/Restaurant.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}


/* footer */

#footer {
    min-height: 2em;
    background-color: transparent;
    color: #000000;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Satisfy', cursive;
}